//- @jadedoc
  name: block1
  foo: block1

block block1
  | block1

//- @jadedoc
  name: block2

block block2
  | block2

//- @jadedoc
  name: block3

block block3
  | block3

  //- @jadedoc
    name: block3b

  div block3b

  //- @jadedoc
    name: block3c

  div block3c
