//- @pugdoc
  name: foo
  capture: 3

div 1
div 2
div 3
div -
div -


//- @pugdoc
  name: foo
  capture: -1

div -


//- @pugdoc
  name: foo
  capture: 0

div -


//- @pugdoc
  name: foo
  capture: all

div 1
div 2
div 3
div 4
div 5