// @jadedoc
  title: Jade mixin 2
  description: this is jade mixin 2 documentation
  name: doc2

mixin doc2
  | this is a mixin

// @jadedoc
  title: Jade mixin 2b
  description: this is jade mixin 2b documentation
  name: doc2b

mixin doc2
  | this is a mixin