// @jadedoc
  name: doc2
  description: this is jade mixin 2 documentation

mixin doc2
  | this is a mixin

// @jadedoc
  name: doc2b
  description: this is jade mixin 2b documentation

mixin doc2b
  | this is a mixin