//- @jadedoc
  name: doc4
  description: this is jade mixin 5 documentation
  usage: 
    - +doc4('foo', 'faa')
    - +doc4('faa', 'foo')
  
mixin doc4(arg1, arg2)
  div this is a mixin #{arg1} #{arg2}