//- @pugdoc
  name: examples
  examples:
    - 
      name: Examples (1)
      description: description 1
      examples: 
        - |
          div.example1a
            block
        - |
          div.example1b
            block
    - |
      div.example2
        block
    - 
      name: Examples (3)
      description: description 3
      example: 
        - |
          div.example3
            block
    - 
      name: Examples (4)
      description: description 3
      example: |
        div.example4
          block

p this is my example