//- @jadedoc
  name: inclusion tag
  description: this is an inclusion tag

div
  include tag.jade

//- @jadedoc
  name: inclusion tag
  description: this is an inclusion tag

div
  include mixins.jade
  +mixin1