//- @jadedoc
  name: mixin
  description: this is jade mixin documentation
  arguments: 
    arg1: foo
    arg2: faa

mixin mixin2(arg1, arg2)
  div this is a mixin #{arg1}
  div this is the same mixin #{arg2}