//- @jadedoc
  name: mixin
  description: this is jade mixin documentation
  arguments: 
    - {string} arg1 - this is arg1
    - {string} arg2 - this is arg2
  examples:
    - +mixin2('foo', 'faa')
    - +mixin2('faa', 'foo')

mixin mixin2(arg1, arg2)
  div this is a mixin #{arg1}
  div this is the same mixin #{arg2}