//- @jadedoc
  name: mixin1

mixin mixin1
  | this is a mixin


//- @jadedoc
  name: mixin2
  description: this is jade mixin 2 documentation
  arguments: 
    arg1: foo
    arg2: faa

mixin mixin2(arg1, arg2)
  div this is a mixin #{arg1}
  div this is the same mixin #{arg2}


//- @jadedoc
  name: mixin3

mixin mixin3
  +mixin1
  +mixin2(foo, faa)
  +block
    | block
  | +foo
  +deep


mixin block
  block

mixin deep
  +deeper
    +deepest

mixin deeper
  | deeper
  block

mixin deepest
  +deeper
    | deepest