//- @pugdoc
  name: mixin
  description: this is jade mixin documentation
  arguments: 
    - {string} arg1 - this is arg1
    - {string} arg2 - this is arg2
  attributes:
    - {string} attr1 - this is attr1
    - {string} attr2 - this is attr2
    - {string} data-attr3 - this is attr3
  examples:
    - +mixin2('foo', 'faa') // mixin example description
    - +mixin2('faa', 'foo')
    -
      name: Mixin 2c
      examples:
        - |
          +mixin2('beep', 'boop')

mixin mixin2(arg1, arg2)
  div this is a mixin #{arg1}
  div this is the same mixin #{arg2}