//- @jadedoc
  name: doc3
  description: this is jade mixin 3 documentation
  usage: +doc3('foo', 'faa')

mixin doc3(arg1, arg2)
  div(class="foo") this is a mixin
  

//- @jadedoc
  name: doc4
  description: this is jade mixin 5 documentation
  usage: 
    - +doc4('foo', 'faa')
    - +doc4('faa', 'foo')
  
mixin doc4(arg1, arg2)
  div this is a mixin #{arg1} #{arg2}
